* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'montseratt', sans-serif;
}

.app {
  background-image: url('./assets/cold-bg2.jpg');
  opacity: 0.7;
  background-size: cover;
  background-position: bottom;
  transition: 0.4 ease-out;
}

.app.warm{
  background-image: url('./assets/warm-bg1.jpg');
  opacity: 0.9;
  
}

main{
  min-height: 100vh;
  padding: 25px;
}

.search-box{
  width: 100%;
  margin: 0 0 75px;
}

.search-box .search-bar{
  display: block;
  width: 100%;
  padding: 15px;

  appearance: none;
  background: none;
  border: none;
  outline: none;

  background-color: rgb(255, 255, 255);
  border-radius: 0px 0px 16px 16px;
  margin-top: -25px;

  box-shadow: 0px 5px rgba(0,0,0,0.2);

  color: #000000;
  font-size: 20px;

  transition: 0.4s ease;
}

.search-box .search-bar:focus{
  background-color: rgba(255,255,255,0.75);
}

.location-box .location{
  color: rgb(236, 245, 243);
  font-size: 32px;
  font-weight: 900;
  text-align: center;
  text-shadow: 3px 3px rgba(50,50,70,0.5);


}

.location-box .date{
  color: rgb(241, 236, 236);
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  text-shadow: 2px 2px rgba(50,50,70,0.5);
}

.weather-box .temp{
  position: relative;
  display: inline-block;
  margin: 50px auto;
  background-color: rgba(255,255,255,0.2);
  border-radius: 20px;
  
  color: rgb(255, 251, 251);
  font-size: 102px;
  font-weight: 900;

  text-shadow: 3px 6px rgba(50,50,70,0.5);
  
  box-shadow: 3px 6px rgba(0,0,0,0.2);

  text-align: center;

  left: 42%;

}

.weather-box .weather{
  color: rgb(240, 236, 236);
  font-size: 48px;
  font-weight: 700;
  text-shadow: 3px 3px rgba(50,50,70,0.5);

  text-align: center;

}

.weather-box .weather-feels{
  color: rgb(240, 236, 236);
  font-size: 48px;
  font-weight: 700;
  text-shadow: 3px 3px rgba(50,50,70,0.5);

  text-align: center;
}

.weather-box .weather-humidity{
  color: rgb(240, 236, 236);
  font-size: 48px;
  font-weight: 700;
  text-shadow: 3px 3px rgba(50,50,70,0.5);

  text-align: center;
}
